.header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(34, 34, 34, 1) 35%, rgba(85, 85, 85, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold !important;
  }

  .inputLabel{
    font-size: 1rem !important;
    color: black !important;
    margin-bottom: 2px ;
  }
  